

#formlabel{
    width:40%;
    float: left;
    align-content: flex-start;
    left:15%;
    position: relative;
    margin-top: 1%;
}

#formInput{
    float: left;
    width:40%;
    align-content: flex-end;
    left:25%;
    position: relative;
    margin-top: 1%;
}